
          <!-- <div class="row" >
              <div  class="col-md-12 col-lg-12 col-xl-12">
                    <button  (click)="downloadPdf()" class="btn btn-primary pull-right"  name="submit" type="submit" > Download Certifacte </button>
                 
              </div>
          </div> -->

          <div style="position: relative;">
            <div style="padding: 25px;">
              <div id="container" class="main_div" style=" overflow: hidden; margin: auto; background-color: white;
                            box-shadow: 0 0 50px rgba(0,0,0,0.15); border-radius: 10px;position: relative;">
                <div class="main_cont"
                  style="display: flex;flex-direction: column;padding: 30px;background-image: url(../assets/certificate_bg.png); background-size: contain; width: 100%; height: 100%;border: 2px solid #2e318c;">
                  <div class="main_logo" style="text-align: center;">
                    <img style="width: 300px;" src="../assets/codeaThon_logo.png">
                  </div>
                  <div class="name" style="text-align: center;margin-top: 20px;">
                    <h1 style="font-weight: 200; color: #3862ae; font-size: 45px;margin: 0;padding-top: 10px;">{{ participantName }}</h1>
                  </div>
                  <div style="flex-grow: 1;text-align: center; font-size: 14px; padding: 0 21%;">
                    <p style="margin-top: 5px;">has participated in an in-premises non stop 24 hours <b>Code-a-Thon</b>
                      conducted by <b>Senrysa
                        Technologies Pvt. Ltd.</b> held on 11th December 2021 till 12th December 2021.</p>
                  </div>
                  <div style="display: flex; align-items: baseline;justify-content: space-around;">
                    <div style="text-align: center;">
                      <img style="width: 60px;" src="../assets/md_signature.png">
                      <hr style="background: #d4d4d4;border: none;height: 1px;">
                      <p style="margin: 0; font-size: 12px;">MD & CEO
                        - Senrysa</p>
                    </div>
                    <div style="border: 2px solid #2e318c; background-color: white; text-align: center; border-radius: 6px;">
                      <ngx-qrcode [elementType]="elementType" [value]="value" [width]=100  [margin]=2.2 errorCorrectionLevel="L">
                      </ngx-qrcode>
                      <h4
                        style="width: 107px; margin: 0;padding: 6px 10px;background-color: #2e318c; color: white;font-size: 10px;">
                        SCAN TO
                        VERIFY</h4>
                    </div>
                    <div style=" text-align: center;">
                      <img style="width: 100px;" src="../assets/naascom_signature.png">
                      <hr style="background: #d4d4d4;border: none;height: 1px;">
                      <p style="margin: 0; font-size: 12px;">Regional
                        Director, NASSCOM</p>
                    </div>
                  </div>
                  <div style="text-align: center;margin-top: 40px;">
                    <img width="300px" src="../assets/company_logo.png" />
                  </div>
                  <div style="align-items: center; justify-content: center; display: flex; grid-gap: 20px;margin-top: 30px;">
                    <div style="display: flex; align-items: center;">
                      <img width="12px" src="../assets/linkedin.png" />
                      <p style="margin: 0; font-size: 10px;padding-left: 4px;">
                        @Senrysa
                        Technologies Private Limited</p>
                    </div>
                    <div style="display: flex; align-items: center;">
                      <img width="12px" src="../assets/facebook.png" />
                      <p style="margin: 0; font-size: 10px;padding-left: 4px;">
                        @Senrysa
                        Technologies Private Limited</p>
                    </div>
                    <div style="display: flex; align-items: center;">
                      <img width="12px" src="../assets/facebook.png" />
                      <p style="margin: 0; font-size: 10px;padding-left: 4px;">
                        @senrysatech</p>
                    </div>
                  </div>
                </div>              
              </div>          
            </div>
            <div class="download_btn">
              <a (click)="downloadPdf()">Download</a>
            </div>
          </div>
  
  