@media print {
    @page {
        size: A4;
        orientation: landscape;
    }
}

* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.download_btn {
    text-align: center;
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.download_btn a {
    display: block;
    background-color: #2e318c;
    color: white;
    padding: 10px;
    width: 120px;
    position: absolute;
    bottom: 25px;
    border-radius: 10px 10px 0 0;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    font-size: 13px;
}

.download_btn a:hover {
    background-color: #181b63;
}

.main_div {
    height: 595px;
    width: 842px;
    padding: 5mm;
    margin-top: 20px !important;
}
